* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: rgb(248 246 246);
}

/* global component start */
.flex {
  display: flex;
}

.container {
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}

/* global component end */

/* Query start */

/* small screen */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium screen */
@media (min-width: 982px) {
  .container {
    width: 950px;
  }
}
/* large screen */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* Query end */

/* Hearder start */
header .container {
  padding-top: 2.5rem;
  /* padding-bottom: ; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* logo styling start */
header .logo.flex {
  align-items: center;
}

header .logo.flex a {
  display: block;
  margin-left: 10px;
  text-decoration: none;
  background: linear-gradient(to right, orange, rgb(204, 92, 176));
  color: #fff;
  padding: 8px;
  border-radius: 20px;
}
/* logo styling end */

/* link styling start */

header .link ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header .link ul a {
  padding: 0 10px;
  text-decoration: none;
  color: #333;
}

/* link styling end */

/* sign in styling start */

header .sign-in.flex {
  align-items: center;
}

header .sign-in.flex a {
  text-decoration: none;
  color: #333;
  padding: 0 10px;
}

header .sign-in.flex button {
  border: none;
  padding: 1rem;
  border-radius: 10px;
  background: #0091ea;
  color: #fff;
}

/* sign in styling end */

/* Hearder end */
